---
layout: default
---

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  	<ol class="carousel-indicators">
  	  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  	  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  	  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  	</ol>
  	<div class="carousel-inner" role="listbox">
  	  <!-- Slide One - Set the background image for this slide in the line below -->
  	  <div class="carousel-item active" style="background-image: url('https://steamuserimages-a.akamaihd.net/ugc/871874299374014219/822D637F62598AD005DB5A195A6D4DBA6857BA04/')">
  		<div class="carousel-caption d-none d-md-block">
  		  <h3>Εκκαθάρηση χωριού με μηχανοκίνητο πεζικό</h3>
  		  <p>Μία ομάδα ψάχνει τον ηλεκτρονικό εξοπλισμό του εχθρού. Οι άλλες παρέχουν κάλυψη</p>
  		</div>
  	  </div>
  	  <!-- Slide Two - Set the background image for this slide in the line below -->
  	  <div class="carousel-item" style="background-image: url('https://steamuserimages-a.akamaihd.net/ugc/856106986405694391/F1E37A6FA7FEB5FB8C78970CA9D5C647A190C639/')">
  		<div class="carousel-caption d-none d-md-block">
  		  <h3>Αναγνώρηση οχημάτων</h3>
  		  <p>Τακτική εκπαίδευση στην οποία αναφέρουμε τους τύπους θωρακισμένων οχημάτων που θα συναντήσουμε στο πεδίο της μάχης. Απο αριστερά προς τα δεξιά: Μ1Α1 Abrams (πάνω), Bradley IFV, BMP 2, Μ113 ΤΟΜΠ, BRDM (άκρη)</p>
  		</div>
  	  </div>
  	  <!-- Slide Three - Set the background image for this slide in the line below -->
  	  <div class="carousel-item" style="background-image: url('https://steamuserimages-a.akamaihd.net/ugc/857228716250138075/6C481853A5202326E6051622328B3347C4E59DA2/')">
  		<div class="carousel-caption d-none d-md-block">
  		  <h3>Προετοιμασία θωρακισμένου για απόβαση</h3>
  		  <p>Αερομεταφερόμενο πεζικό προχωρά μπροστά για να εξασφαλίσει την παραλία, στην οποία θα επιχειρήσει απόβαση το τανκ που βλέπετε</p>
  		</div>
  	  </div>

	  <div class="carousel-item" style="background-image: url('https://steamuserimages-a.akamaihd.net/ugc/856101640161031908/D0A92C86C41DC17F124555D7960C25B91C9612E5/')">
  		<div class="carousel-caption d-none d-md-block">
  		  <h3>Ενημέρωση αποστολής</h3>
  		  <p>Επείδηξη νέου τύπου γιαλιών νυχτερινής όρασης κατα την ενημέρωση αντικειμενικών στόχων, πριν την έναρξη της αποστολής</p>
  		</div>
  	  </div>
	  <div class="carousel-item" style="background-image: url('https://steamuserimages-a.akamaihd.net/ugc/841461304089465021/9109F039EB5035618BA903C9374AC4CD42B264C5/')">
	    <div class="carousel-caption d-none d-md-block">
	      <h3>Πεζικάριοι κυκλώνουν εχθρική θέση</h3>
	      <p>Έχοντας αντιληφθεί τη θέση του εχθρού, η υποομάδα κυκλώνει την φυλασόμενη απο BRDM θέση</p>
	    </div>
	</div>

	<div class="carousel-item" style="background-image: url('https://steamuserimages-a.akamaihd.net/ugc/856101548424184368/674DEB684EE5436FCA594A11533A3B8F2B4FECC1/')">
	  <div class="carousel-caption d-none d-md-block">
		<h3>Επιχείρηση με ελικόπτερο</h3>
		<p>Στιγμιότυπο απο τη διαδικασία πτώσης με σχοινιά</p>
	  </div>
  </div>


  	</div>
  	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  	  <span class="sr-only">Previous</span>
  	</a>
  	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  	  <span class="sr-only">Next</span>
  	</a>
    </div>
  </header>

  <section class="py-5">
	<div class="container">
	  <h1>Το ArmA 4 δεν έχει ανακοινωθεί</h1>
	  <p>Αλλά το περιμένουομε το 2018. Συνεχίζουμε να παίζουμε ArmA 3 στο μεταξύ. Ελάτε να μας βρείτε!</p>
	</div>
  </section>

{{ content }}
